body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 30px 0;
}

section {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

h2 {
    color: #333;
}

ul {
    list-style: square;
    padding-left: 20px;
}
